.first-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  position: relative;
}

.form {
  background-color: #fff;
  padding: 1rem;
  max-width: 400px;
  width: 100%;
  border-radius: 5px;
}

.form label {
  margin-right: 0.3rem;
}

.form input {
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(223, 228, 230);
}

.form input:focus {
  outline: none;
}

.btn {
  margin-top: 0.5rem;
}

.btn {
  display: inline-block;
  padding: 6px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  box-shadow: none;
}

.item {
  background-color: #fff;
  margin-top: 1.5rem;
  max-width: 250px;
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
}
